{% extends 'base.html.twig' %}

{% block content %}

    <div class="col-md-3">
        <h2>À faire <span class="badge">4</span></h2>
        <div class="panel panel-default">
            <div class="panel-body">
                Modifier la page d'accueil en ajoutant des choses importantes
                <p>
                <form>
                    <select>
                        <option value="">A faire</option>
                        <option value="">En cours</option>
                        <option value="">Terminee</option>
                        <option value="" selected="selected">Bugs / Retours</option>
                    </select>
                </form>

            </div>
        </div>

        <div class="panel panel-default">
            <div class="panel-body">
                Modifier la page d'accueil en ajoutant des choses importantes
                <p>
                <form>
                    <select>
                        <option value="">A faire</option>
                        <option value="">En cours</option>
                        <option value="">Terminee</option>
                        <option value="" selected="selected">Bugs / Retours</option>
                    </select>
                </form>

            </div>
        </div>


        <div class="panel panel-default">
            <div class="panel-body">
                Modifier la page d'accueil en ajoutant des choses importantes
                <p>
                <form>
                    <select>
                        <option value="">A faire</option>
                        <option value="">En cours</option>
                        <option value="">Terminee</option>
                        <option value="" selected="selected">Bugs / Retours</option>
                    </select>
                </form>

            </div>
        </div>
    </div>

    <div class="col-md-3">
        <h2>En cours <span class="badge">4</span></h2>
        <div class="panel panel-default">
            <div class="panel-body">
                Modifier la page d'accueil en ajoutant des choses importantes
                <p>
                <form>
                    <select>
                        <option value="">A faire</option>
                        <option value="">En cours</option>
                        <option value="">Terminee</option>
                        <option value="" selected="selected">Bugs / Retours</option>
                    </select>
                </form>

            </div>
        </div>

        <div class="panel panel-default">
            <div class="panel-body">
                Modifier la page d'accueil en ajoutant des choses importantes
                <p>
                <form>
                    <select>
                        <option value="">A faire</option>
                        <option value="">En cours</option>
                        <option value="">Terminee</option>
                        <option value="" selected="selected">Bugs / Retours</option>
                    </select>
                </form>

            </div>
        </div>

        <div class="panel panel-default">
            <div class="panel-body">
                Modifier la page d'accueil en ajoutant des choses importantes
                <p>
                <form>
                    <select>
                        <option value="">A faire</option>
                        <option value="">En cours</option>
                        <option value="">Terminee</option>
                        <option value="" selected="selected">Bugs / Retours</option>
                    </select>
                </form>

            </div>
        </div>
    </div>

    <div class="col-md-3">
        <h2>Terminées <span class="badge">4</span></h2>
        <div class="panel panel-default">
            <div class="panel-body">
                Modifier la page d'accueil en ajoutant des choses importantes
                <p>
                <form>
                    <select>
                        <option value="">A faire</option>
                        <option value="">En cours</option>
                        <option value="">Terminee</option>
                        <option value="" selected="selected">Bugs / Retours</option>
                    </select>
                </form>

            </div>
        </div>

        <div class="panel panel-default">
            <div class="panel-body">
                Modifier la page d'accueil en ajoutant des choses importantes
                <p>
                <form>
                    <select>
                        <option value="">A faire</option>
                        <option value="">En cours</option>
                        <option value="">Terminee</option>
                        <option value="" selected="selected">Bugs / Retours</option>
                    </select>
                </form>

            </div>
        </div>


        <div class="panel panel-default">
            <div class="panel-body">
                Modifier la page d'accueil en ajoutant des choses importantes
                <p>
                <form>
                    <select>
                        <option value="">A faire</option>
                        <option value="">En cours</option>
                        <option value="">Terminee</option>
                        <option value="" selected="selected">Bugs / Retours</option>
                    </select>
                </form>

            </div>
        </div>
    </div>

    <div class="col-md-3">
        <h2>Bugs / Retours <span class="badge">4</span></h2>
        <div class="panel panel-default">
            <div class="panel-body">
                Modifier la page d'accueil en ajoutant des choses importantes
                <p>
                <form>
                    <select>
                        <option value="">A faire</option>
                        <option value="">En cours</option>
                        <option value="">Terminee</option>
                        <option value="" selected="selected">Bugs / Retours</option>
                    </select>
                </form>

            </div>
        </div>

        <div class="panel panel-default">
            <div class="panel-body">
                Modifier la page d'accueil en ajoutant des choses importantes
                <p>
                <form>
                    <select>
                        <option value="">A faire</option>
                        <option value="">En cours</option>
                        <option value="">Terminee</option>
                        <option value="" selected="selected">Bugs / Retours</option>
                    </select>
                </form>

            </div>
        </div>


        <div class="panel panel-default">
            <div class="panel-body">
                Modifier la page d'accueil en ajoutant des choses importantes
                <p>
                <form>
                    <select>
                        <option value="">A faire</option>
                        <option value="">En cours</option>
                        <option value="">Terminee</option>
                        <option value="" selected="selected">Bugs / Retours</option>
                    </select>
                </form>

            </div>
        </div>
    </div>

{% endblock %}
